@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Variables
$primaryColor: black;
$textColor: white;
$accentColor: #d2b514;
$borderColor: #2e2e2e;
$dangerColor: #9c2e2e;
$backgroundColor: #ececf6;

// Fonts

$mainTextFont: 'Open Sans', sans-serif;
